@import '~@fluentui/react/dist/sass/References.scss';

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.carouselSplide {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);

  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  .splide__track {
    .splide__list {
      .splide__slide {

        background: #f4f4f4;
        border: 1px solid #ccc;
        text-align: center;
        padding: 20px;

        a {
          display: block !important;
          color: "[theme:link, default: #323130]";
          color: var(--link);

          &:hover {
            background-color: var(--linkHovered);
          }

          img {
            width: 100% !important;
          }
        }
      }
    }
  }

  .splide__pagination {
    counter-reset: pagination-num;
  }

  .splide__pagination__page {
    &:before {
      counter-increment: pagination-num;
      content: counter(pagination-num);
    }
  }
}